@media only screen and (min-width: 788px) and (max-width: 979px) {
  .header {
    height: 980px;
  }
  .header img {
    margin-bottom: 70px;
  }
  .chamada {
    margin: 0 auto;
  }
  .formulario {
    margin-left: 40px;
  }
  .formulario input {
    width: 360px;
  }
  .formulario button {
    margin-left: 110px;
  }
  .wave::before {
    background: url(/img/bg/wave-tablet.svg) no-repeat;
    top: 822px;
  }
  .pastoral {
    background: linear-gradient(var(--azul1), var(--azul2)),
      url(/img/bg/conchas-bg-tablet.svg);
  }
  .pastoral img {
    margin-top: -222px;
  }
  .dimensoes li:nth-child(odd) {
    margin-right: 8px;
    margin-bottom: 65px;
  }
  .dimensoes li:nth-child(even) {
    margin-top: 150px;
  }
  .box1::before {
    right: 495px;
  }
  .box2::before {
    top: 50px;
    right: 110px;
  }
  .box3::before {
    top: 445px;
    right: 495px;
  }
  .box4::before {
    top: 600px;
    right: 110px;
  }
  .wave-2::before {
    background: url(/img/bg/wave-2-tablet.svg) no-repeat;
    top: 2500px;
  }
  .informacoes h2 {
    font-size: 34px;
  }
  .redes img {
    width: 25%;
  }
  .arquidiocese img {
    width: 100%;
  }
}

@media only screen and (max-width: 787px) {
  .header img {
    margin: 30px auto;
  }
  .chamada {
    margin-bottom: 30px;
  }
  .formulario input {
    width: 300px;
  }
  .formulario button {
    margin-left: 70px;
  }
  .wave::before {
    background: url(/img/bg/wave-phone.svg) no-repeat;
    top: 1091px;
  }
  .pastoral{
    background: height: 2460px;;
  }
  .pastoral img {
    margin: -240px 0px 140px 0px;
  }
  .dimensoes p {
    width: 290px;
    height: 400px;
    padding-top: 5px;
    font-size: 14px;
    line-height: 20px;
  }
  .dimensoes li {
    width: 300px;
  }
  .dimensoes li:nth-child(odd) {
    margin: 0 0px 80px -30px;
  }
  .dimensoes li:nth-child(even) {
    margin: 20px 0px 80px 30px;
  }
  .box1::before {
    background: url(/img/icones/icone-religiosa-phone.svg);
    width: 130px;
    height: 130px;
    top: -75px;
    right: 10px;
  }
  .box2::before {
    background: url(/img/icones/icone-social-phone.svg);
    width: 130px;
    height: 130px;
    top: 410px;
    right: 55px;
  }
  .box3::before {
    background: url(/img/icones/icone-missionaria-phone.svg);
    width: 130px;
    height: 130px;
    top: 890px;
    right: 120px;
  }
  .box4::before {
    background: url(/img/icones/icone-eclesial-phone.svg);
    width: 130px;
    height: 130px;
    top: 1370px;
    right: 55px;
  }
  .wave-2::before {
    background: url(/img/bg/wave-2-phone.svg) no-repeat;
    width: 100%;
    top: 3590px;
  }
  .copy {
    text-align: center;
    font-size: 18px;
  }
  .copy::after {
    top: 30px;
    right: 112px;
  }
}
