:root {
  --vermelho1: hsl(354, 74%, 42%);
  --vermelho2: hsl(359, 86%, 58%);
  --azul1: #24599a;
  --azul2: #17aad7;
}
.main {
  background: linear-gradient(var(--vermelho1), var(--vermelho2)),
    url(/imagens/main-bg.svg);
  height: 100vh;
  background-blend-mode: multiply;
}

.pastoral {
  background: linear-gradient(var(--azul1), var(--azul2)),
    url(/imagens/conchas.svg);
  height: 100vh;
  background-blend-mode: lighten;
}
